<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/libs/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/design.css">
  <link rel="shortcut icon" type="image/png" href="/public/images/icon.png" />
  <link href="/public/libs/dataTables.bootstrap4.min.css" rel="stylesheet">

  <script src="/public/libs/jquery.min.js" defer></script>
  <script src="/public/libs/jquery.dataTables.min.js" defer></script>
  <script src="/public/libs/dataTables.bootstrap4.min.js" defer></script>
  <script src="/public/js/product.js" defer></script>
  <title>Projet 3</title>
</head>

<body>